<div class="header">
  <h1><small>Welcome to </small>CareerNet</h1>
  <hr/>
</div>

<div class="container">

<div class="content">
  <h2>Recent Job Postings</h2>
  <article class="content-container">
    <%@jobs.each do |job| %>
    <h5><a href="#"><%=job.title%></a></h3>
    <h6>Posted by <a href="#"><%=job.company_id%></a> on <%=job.created_at%></h6>
    <% end %>
  </article>
  <div 
  <h2>Upcoming Events </h2>
  <article class="content-container">
    <%@events.each do |event| %>
    <h5><a href="#"><%=event.title%></a></h3>
    <h6>Starts at <a href="#"><%=event.time_start%></a></h6>
    <% end %>
  </article>
</div>
