<div class="header">
  <h1><small>Welcome to </small>CareerNet</h1>
  <hr/>
</div>

<div class="container">

<div class="content">
  <h2>Recent Job Postings</h2>
  <article class="content-container">
    <%@jobs.each do |job| %>
    <h5><%=link_to job.title, view_single_job_path(job.id)%></a></h3>
    <h6>Posted by <%=job.company_id%> on <%=job.created_at%></h6>
    <% end %>
  </article>
  <h2>Upcoming Events </h2>
  <article class="content-container">
    <%@events.each do |event| %>
    <h5><%=link_to event.title, event_path(event)%></a></h3>
    <h6>Starts at <%=event.time_start%></a></h6>
    <% end %>
  </article>
</div>

<aside class="aside">
  <div class="panel">
  </div>
  <ul>
    <% case account_type
      when 1 %>
        <li><%= link_to 'View Applications', student_view_applications_path(roll_id) %> </li>
        <li><%= link_to 'Make An Appointment', appointment_student_show_path %></li>
      <% when 2 %>
        <li><%= link_to 'Post An Appointment', staff_appointments_path %></li>
      <% when 3 %>
        <li><%= link_to 'Post A New Job', new_job_path %></li>
        <li><%= link_to 'View Applications', company_view_applications_path(roll_id) %></li>
        <li><%= link_to 'View Posted Jobs', view_posted_jobs_path(roll_id) %></li>
    <% end %>
  </ul>
</aside>
