<h1>Company Profile</h1>
<script type="text/javascript">
  $(document).ready(function() {
    $('a[name="edit-profile-button"]').click(function() {
      $('.spinner-model').show();
    });
  });
</script>
<dl class="dl-horizontal">
  <dt> Name </dt>
    <dd>
      <% if @company.name %>
        <%= @company.name -%>
      <% end %>
    </dd>

    <dt> Website </dt>
    <dd>
      <% if @company.website %>
        <%= link_to @company.website, @company.website, :target => "_blank" -%>
      <% end %>
    </dd>

    <dt> City </dt>
    <dd>
      <% if @company.city %>
        <%= @company.city -%>
      <% end %>
    </dd>
    <dt> State </dt>
    <dd>
      <% if @company.state %>
        <%= @company.state -%>
      <% end %>
    </dd>
    <dt> Country </dt>
    <dd>
      <% if @company.country %>
        <%= @company.country -%>
      <% end %>
    </dd>
    <dt> Industry </dt>
    <dd>
      <% if @company.industry %>
        <%= @company.industry -%>
      <% end %>
    </dd>

</dl>

<% if (is_company? and current_user.getUser.id == @company.id) or is_staff?  %>
  <div class="pull-right button-group">
    <%= link_to 'Edit profile', edit_company_profile_path(@company), name: "edit-profile-button", class: "button blue" -%>
  </div> 
<% end -%>

<h1> Available Positions </h1>
<table class="data-table table table-striped">   
  <thead>
    <tr>
      <th> Position </th>
      <% if !is_student? %>
        <th> Salary </th>
      <% end %>
      <th> Updated </th>
    </tr>
  </thead>
  <tbody>
    <% @company.jobs.each do |job| %>
      <tr>
       <% if !job.company.nil? %>
        <td><%=link_to "#{job.title}", view_single_job_path(job.id) %></td>
        <% if !is_student? %>
          <td><%= job.salary %></td>
        <% end %>
        <td><%= job.updated_at.strftime('%D') %></td>
        <% end %>
      </tr>
      <% end %>
  </tbody>
</table>
<script type="text/javascript">
  $(document).ready(function() {
    $('.data-table').dataTable({
      "pageLength": 25,
      "lengthMenu": [ 25, 50, 100 ]
    });
  })
</script>



