<h1> Edit Profile </h1>
<%= javascript_tag "var all_schools = #{ @all_schools.to_json };" %>
<%= javascript_tag "var all_majors = #{ @all_majors.to_json };" %>
<%= javascript_tag "var all_companies = #{ @all_companies.to_json };" %>
<%= javascript_tag "var all_skills = #{ @all_skills.to_json };" %>
<%= javascript_tag "var student_skills = #{ @student_skills.to_json };" %>


<script>
  $(function() {
    for (var i = 0; i < all_schools.length; i++){
      all_schools[i].label = all_schools[i].school_name
    }
    for (var i = 0; i < all_companies.length; i++){
      all_companies[i].label = all_companies[i].name
    }
    for (var i = 0; i < all_majors.length; i++){
      all_majors[i].label = all_majors[i].name
    }
    for (var i = 0; i < all_skills.length; i++){
      all_skills[i].label = all_skills[i].name
    }
    for (var i = 0; i < student_skills.length; i++){
      student_skills[i].label = student_skills[i].name
    }
    $("#college_name").autocomplete({
      minLength: 3,
      source: all_schools,
      select: function(event, ui) {
        $("#college_id").val(ui.item.id)
      }
    });
    $("#major_name").autocomplete({
      minLength: 3,
      source: all_majors,
      select: function(event, ui) {
        $("#major_id").val(ui.item.id)
      }
    });
    $("#company_name").autocomplete({
      minLength: 3,
      source: all_schools,
      select: function(event, ui) {
        $("#company_id").val(ui.item.id)
      }
    });
    $("#graduation_date").datepicker({
      dateFormat: "yy-mm-dd"
    });
    $("#skill_add").autocomplete({
      minLength: 3,
      source: all_skills,
      select: function(event, ui) {
        $("#skill_id").val(ui.item.id)
      }
    });
    $("#skill_remove").autocomplete({
      minLength: 3,
      source: student_skills,
      select: function(event, ui) {
        $("#skill_id_remove").val(ui.item.id)
      }
    });
  });
</script>
<%= form_tag(:action => 'update_student', :id => @student.id) do %>
  <dl class="dl-horizontal"> 
    <dt>First Name</dt>
    <dd><%= text_field_tag :first_name, params[:first_name], value: @student.first_name %></dd>

    <dt>Last Name</dt>
    <dd><%= text_field_tag :last_name, params[:last_name], value: @student.last_name ? @student.last_name : nil %></dd>
    
    <dt>Skills</dt>
    <dd>
      <% @student.skills.all.each do |s| %>
        <span class="skill-tag"> <%= s.name %></span> 
      <% end %>
    </dd>

    <dt>Add Skills</dt>
    <dd><input type="text" name = "add_skill_name" id="skill_add" ></input></dd>
    <%= hidden_field_tag :skill_id, params[:skill_id], id: "skill_id", value: -1 %>

    <dt>Remove Skills</dt>
    <dd><input type="text" name = "remove_skill_name" id="skill_remove" ></input></dd>
    <%= hidden_field_tag :skill_id_remove, params[:skill_id_remove], id: "skill_id_remove", value: -1 %>

    <dt> Country </dt>
    <dd><%= text_field_tag :country, params[:country], value: @student.country %></dd>

    <dt>University</dt>
    <dd><input type="text" id="college_name" value="<%= @student.college ? @student.college.school_name : nil %>" ></input></dd>
    <%= hidden_field_tag :college_id, params[:college_id], id: "college_id", value: @student.college_id %>

    <dt>Major</dt>
    <dd><input type="text" id="major_name" value="<%= @student.major ? @student.major.name : nil %>" ></input></dd>
    <%= hidden_field_tag :major_id, params[:major_id], id: "major_id", value: @student.major_id %>

    <dt>Graduation Date</dt>
    <dd><%= text_field_tag :graduation_date, params[:graduation_date], id: "graduation_date", value: @student.graduation_date %></dd>

    <dt>Resume Link</dt>
    <dd><%= text_field_tag :resume_link, params[:resume_link], value: @student.resume_link %></dd>

    <% if @current_user.account_type == 2 %>
      <dt>Staff Notes </dt>
      <dd><%= text_field_tag :notes, params[:notes], value: @student.notes %></dd>
    <% end %>

    <div class="pull-right button-group">
      <%= link_to 'Back', single_student_profile_path(@student), class: "button default" -%>
      <%= submit_tag "Submit", class: "button blue"%>
    </div>
    
  </dl>
<% end %>
