<% #  This file is app/views/profiles/students.html.haml %>
<h1> Edit Profile </h1>
<%= link_to('Back to profile', single_student_profile_path(@student)) -%>
<table class = "table">
  <tbody>
    <tr>
      <th> Name </th>
      <td><%= @student.first_name + ' ' + @student.last_name -%></td>
    </tr>
    <tr>
      <th> University </th>
      <td><%= @student.college.school_name -%></td>
    </tr>
    <tr>
      <th> Major </th>
      <td><%= @student.major.name -%></td>
    </tr>
    <tr>
      <th> Graduation Date </th>
      <td><%= @student.graduation_date -%></td>
    </tr>
    <tr>
      <th> Resume Link </th>
      <td><%= link_to(@student.resume_link, @student.resume_link) -%></td>
    </tr>
  </tbody>
</table>
