<% #  This file is app/views/profiles/students.html.haml %>
<h1> All Students </h1>
<table class = "table">
  <thead>
    <tr>
      <th> Name </th>
      <th> University </th>
      <th> Major </th>
      <th> Graduation Date </th>
      <th> More Info </th>
    </tr>
  </thead>
  <tbody>
    <% for student in @all_students -%>
      <tr>
        <td><%= student.first_name + ' ' + student.last_name -%></td>
        <td><%= link_to student.college.school_name, single_school_profile_path(student.college) -%></td>
        <td><%= student.major.name -%></td>
        <td><%= student.graduation_date -%></td>
        <td><%= link_to "More details", single_student_profile_path(student) -%></td>
      </tr>
    <% end -%>
  </tbody>
</table>
<%= will_paginate @all_students %>
