<h1> Student Profile </h1>
<%= javascript_tag "var all_companies = #{ @all_companies.to_json }; console.log(all_companies);" %>

<script type="text/javascript">
  $(document).ready(function() {
    $('a[name="edit-profile-button"]').click(function() {
      $('.spinner-model').show();
    });
  });

</script>

<dl class="dl-horizontal">
  <dt> First Name </dt>
    <% if @student.first_name %>
      <dd><%= @student.first_name %></dd>
    <% end %>
  <dt>Last Name</dt>
    <% if @student.last_name %>
      <dd><%= @student.last_name -%></dd>
    <% end %>

  <dt> Skills </dt>
  <dd>
  <% student_skills = @student.skills %>
  <% if student_skills  %>
    <% student_skills.each do |skill| %>
      <span class="skill-tag"><%= skill.name %></span>
    <% end %>
  <% end %>
  </dd>

  <dt> University </dt>
  <dd>
    <% if @student.college %>
      <%= link_to @student.college.school_name, single_school_profile_path(@student.college) -%>
    <% end %>
  </dd>

  <dt> Major </dt>
  <dd>
    <% if @student.major %>
      <%= @student.major.name -%>
    <% end %>
  </dd>

  <dt> Graduation Date </dt>
  <dd>
    <% if @student.graduation_date %>
      <%= @student.graduation_date -%>
    <% end %>
  </dd>

  <dt> Resume Link </dt>
  <dd>
    <% if @student.resume_link %>
      <iframe width="500px" height="630px" src="<%= @student.resume_link %>" type="application/pdf"></iframe>
    <% end %>
  </dd>
</dl>
<div class="pull-right button-group">
  <%= link_to 'Edit profile', edit_student_profile_path(@student), name: "edit-profile-button", class: "button blue" -%>
</div>
<h1> Past Experience <span class="addbutton add-new" name="add_experience">+</span></h1>

  <%= form_tag(:action => 'update_past_experience', :id => @student.id) do %>
  <div class="past_experience">
      <dl class="exp_form"> 
      </dl>
  </div>
  <div id="update_div">
    <button class="button blue update_exp_button pull-right">Update</button>
  </div>
<% end %>

  <div id="cancel_div">
    <button class="button default cancelbutton pull-right">Cancel</button>
  </div>


<table class="data-table table table-striped">
  <thead>
    <tr>
      <th> Company Name </th>
      <th> Company Location </th>
      <th>Job Title</th>
      <th> Salary </th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
  <% @student.experiences.each do |ex| %>
    <tr>
      <td><%= Company.find(ex.company_id).name %></td>
      <td><%= "" ||+ ex.city ||+ ", " ||+  ex.state ||+ ", " + ex.country %></td>
      <td><%= ex.job_title%></td>
      <td><%= ex.salary %></td>
      <td>
        <%if (@current_user.account_type == 2 || (@current_user.account_type == 1 and roll_id.to_i == @id_1.to_i))  %>
          <%= link_to 'Delete', delete_past_experience_path(:ex_id => ex.id), :method => :post %>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<!--   project buttton project section starts here-->
<div class="past_student_projects">
  <h1 class="past_proj"> Past Project <span class="addbutton_project add-new" name="add_project"> + </span></h1>

  <%= form_tag(:action => 'update_past_project', :id => @student.id) do %>
  <div class="past_project">
      <dl class="proj_form"> 
      </dl>
  </div>
  <div id="update_div_project">
    <button class="button blue update_proj_button_project pull-right">Update</button>
  </div>
<% end %>

  <div id="cancel_div_project">
    <button class="button default cancelbutton_project pull-right">Cancel</button>
  </div> 

  <table class="data-table table table-striped">
    <thead>
      <tr>
        <th> Project Name </th>
        <th> Position </th>
        <th> Description </th>
        <th> Start Date</th>
        <th> End Date</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% @student.projects.each do |proj| %>
        <tr>
          <td><%= proj.project_name %></td>
          <td><%= proj.position %></td>
          <td><%= proj.description %></td>
          <td>
            <% if proj.start_date %>
              <%= proj.start_date.to_s%> 
            <% end %>
          </td>
          <td>
            <%if proj.end_date %>
              <%= proj.end_date.to_s%>
            <% end %> 
          </td>
          <td>
            <% if (@current_user.account_type == 2 || (@current_user.account_type == 1 and roll_id.to_i == @id_1.to_i)) %>
              <%= link_to "Delete", delete_past_project_path(:proj_id => proj.id), :method => :post %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<!--   project buttton project section starts here-->
<div class="past_student_education">
  <h1 class="past_proj"> Past Education <span class="addbutton_education add-new" name="add_project"> + </span> </h1>

  <%= form_tag(:action => 'update_past_education', :id => @student.id) do %>
  <div class="past_education">
      <dl class="edu_form"> 
      </dl>
  </div>
  <div id="update_div_education">
    <button class="button blue update_edu_button_education pull-right">Update</button>
  </div>
<% end %>

  <div id="cancel_div_education">
    <button class="button default cancelbutton_education pull-right">Cancel</button>
  </div>

  <table class="data-table table table-striped">
    <thead>
      <tr>
        <th> School Name </th>
        <th> Major </th>
        <th> Description </th>
        <th> Start Date</th>
        <th> Graduation Date</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% @student.educations.each do |edu| %>
        <tr class="past_ex">
          <td><%= edu.school_name %></td>
          <td><%= edu.major %></td>
          <td>
            <% if edu.start_date %>
              <%= edu.start_date.to_s%>
            <% end %>
          </td>
          <td>
            <%if edu.graduation_date %>
              <%= edu.graduation_date.to_s%>
            <% end %>
          </td>
          <td>
          <%if (@current_user.account_type == 2 || (@current_user.account_type == 1 and roll_id.to_i == @id_1.to_i))  %>
            <%= link_to "Delete", delete_past_education_path(:edu_id => edu.id), :method => :post %>
          <% end %>
          </td>
      <% end %>
      </tr>
    </tbody>
  </table>
</div>


<script>
  var is_added = false;
  var is_added_project = false;
  var is_added_education = false;

  document.getElementById('cancel_div').style.visibility='hidden';
  document.getElementById('update_div').style.visibility='hidden';
  document.getElementById('cancel_div_project').style.visibility='hidden';
  document.getElementById('update_div_project').style.visibility='hidden';
  document.getElementById('cancel_div_education').style.visibility='hidden';
  document.getElementById('update_div_education').style.visibility='hidden';

  $(".addbutton").click(function(){
      // $(".past_experience").html('experience_form.html.erb');
      //$("form").clone().appendTo('.past_experience');
      if(is_added == false){
          $( ".past_experience" ).append('<dl class="dl-horizontal exp_form">' + 
             '<dt>Company </dt>' +
             '<dd><%= text_field_tag :company_name, params[:company_id],placeholder: "Company Name" %></dd>' +
             '<dt>City </dt>' +
             '<dd><%= text_field_tag :city, params[:city], placeholder: "Location" %></dd>' +
             '<dt>State </dt>' +
             '<dd><%= text_field_tag :state, params[:state], placeholder: "Location" %></dd>' +
             '<dt>Country </dt>' +
             '<dd><%= text_field_tag :country, params[:country], placeholder: "Location" %></dd>' +
             '<dt>Job Title </dt>' +
             '<dd><%= text_field_tag :job_title, params[:job_title], placeholder: "Job Title" %></dd>' +
             '<dt>Salary </dt>' +
             '<dd><%= text_field_tag :salary, params[:salary],placeholder: "Salary" %></dd>' +
        '</dl>');
          is_added = true;
          document.getElementById('cancel_div').style.visibility='visible';
          document.getElementById('update_div').style.visibility='visible';

          for (var i = 0; i < all_companies.length; i++){
            all_companies[i].label = all_companies[i].name
          }

          $("#company_name").autocomplete({
            minLength: 3,
            source: all_schools,
            select: function(event, ui) {
              $("#company_id").val(ui.item.id)
            }
          });
      }
  });

  $(".addbutton_project").click(function(){
      if(is_added_project == false){
          $( ".past_project" ).append('<dl class="dl-horizontal project_form">' + 
     '<dt>Project</dt>' +
     '<dd><%= text_field_tag :project_name, params[:project_name] %></dd>' +
     '<dt>Description</dt>' +
     '<dd><textarea name="description", id="description", cols="5" ></textarea></dd>' +
     '<dt>Position</dt>' +
     '<dd><%= text_field_tag :position, params[:position] %></dd>' +
     '<dt>Start Date</dt>' +
     '<dd><%= text_field_tag :start_date, params[:start_date] %></dd>' +
     '<dt>End Date</dt>' +
     '<dd><%= text_field_tag :end_date, params[:end_date] %></dd>' +
     '</dl>');
          is_added_project = true;
          document.getElementById('cancel_div_project').style.visibility='visible';
          document.getElementById('update_div_project').style.visibility='visible';
      }
  });


  $(".addbutton_education").click(function(){
      if(is_added_education == false){
          $( ".past_education" ).append('<dl class="dl-horizontal education_form">' + 
     '<dt>Education</dt>' +
     '<dd><%= text_field_tag :school_name, params[:school_name] %></dd>' +
     '<dt>Major</dt>' +
     '<dd><%= text_field_tag :major, params[:major] %></dd>' +
     '<dt>Starting Date</dt>' +
     '<dd><%= text_field_tag :start_date, params[:start_date] %></dd>' +
     '<dt>Graduation Date</dt>' +
     '<dd><%= text_field_tag :graduation_date, params[:graduation_date] %></dd>' +
     '</dl>');
          is_added_education = true;
          document.getElementById('cancel_div_education').style.visibility='visible';
          document.getElementById('update_div_education').style.visibility='visible';
      }
  });

  $(".cancelbutton").click(function(){
    if (is_added == true){
      is_added = false;
      $(".exp_form").remove();  
      document.getElementById('cancel_div').style.visibility='hidden';
      document.getElementById('update_div').style.visibility='hidden';
    }
    
  });
  $(".cancelbutton_project").click(function (){
    if (is_added_project == true){
      is_added_project = false;
      $(".project_form").remove();
      document.getElementById('cancel_div_project').style.visibility='hidden';
      document.getElementById('update_div_project').style.visibility='hidden';
    }
  });

  $(".cancelbutton_education").click(function (){
    if (is_added_education == true){
      is_added_education = false;
      $(".education_form").remove();
      document.getElementById('cancel_div_education').style.visibility='hidden';
      document.getElementById('update_div_education').style.visibility='hidden';
    }
  });

  $(document).ready(function() {
    $('.data-table').each(function(index, elem) {
      $(elem).dataTable({
        "searching": false,
        "paging": false
      });
    });
  });
</script>
