<h1> Student Profile </h1>
<script type="text/javascript">
  $(document).ready(function() {
    $('a[name="edit-profile-button"]').click(function() {
      $('.spinner-model').show();
    });
  });
</script>
<dl class="dl-horizontal">
  <dt> First Name </dt>
    <% if @student.first_name %>
      <dd><%= @student.first_name %></dd>
    <% end %>
  <dt>Last Name</dt>
    <% if @student.last_name %>
      <dd><%= @student.last_name -%></dd>
    <% end %>

  <dt> Skills </dt>
  <dd>
  <% student_skills = @student.skills %>
  <% if student_skills  %>
    <% student_skills.each do |skill| %>
      <span class="skill-tag"><%= skill.name %></span>
    <% end %>
  <% end %>
  </dd>

  <dt> City </dt>
  <dd>
    <% if @student.city %>
      <%= @student.city -%>
    <% end %>
  </dd>

  <dt> State </dt>
  <dd>
    <% if @student.state %>
      <%= @student.state -%>
    <% end %>
  </dd>

  <dt> Country </dt>
  <dd>
    <% if @student.country %>
      <%= @student.country -%>
    <% end %>
  </dd>

  <dt> University </dt>
  <dd>
    <% if @student.college %>
      <%= link_to @student.college.school_name, single_school_profile_path(@student.college) -%>
    <% end %>
  </dd>

  <dt> Major </dt>
  <dd>
    <% if @student.major %>
      <%= @student.major.name -%>
    <% end %>
  </dd>

  <dt> Graduation Date </dt>
  <dd>
    <% if @student.graduation_date %>
      <%= @student.graduation_date -%>
    <% end %>
  </dd>

  <dt> Resume Link </dt>
  <dd>
    <% if @student.resume_link %>
      <%= link_to(@student.resume_link, @student.resume_link) -%>
    <% end %>
  </dd>

  <dt> Company </dt>
  <dd>
    <% if @student.company %>
      <%= @student.company.name -%>
    <% end %>
  </dd>

  <dt> Salary </dt>
  <dd>
    <% if@student.base_salary %>
      <%= @student.base_salary-%>
    <% end %>
  </dd>

  <dt> Years Experience </dt>
  <dd>
    <% if@student.years_experience %>
      <%= @student.years_experience-%>
    <% end %>
  </dd>

  <dt> Title </dt>
  <dd>
    <% if@student.title %>
      <%= @student.title-%>
    <% end %>
  </dd>

<tbody>
   
   <h2> Past Experience </h2>
    <% @student.workexperiences.each do |ex| %>
  	  <tr class="past_ex">
  	    <td><%= ex.id %></td>
  	  
  	    <td><%= ex.company_name %></td>
  	    
  	    <td><%= ex.location %></td>
  	    
  	    <td><%= ex.salary %></td>
  	    
  	    <td><%= ex.description %></td>
  	    
  	    <td><%= ex.job%></td>
  	  </tr>
  	  <%if (@current_user.account_type == 2 || (@current_user.account_type == 1 and roll_id.to_i == @id_1.to_i))  %>
  	  <%= form_tag(:action => 'delete_past_experience', :ex_id => ex.id) do %>
		<button> Delete </button>
	  <% end %>
	  <% end %>
  	  <br>
  	  <% end %>
  </tbody>
</dl>
<%if (@current_user.account_type == 2 || (@current_user.account_type == 1 and roll_id.to_i == @id_1.to_i))  %>
  <button class="addbutton"> + </button>
  <%= form_tag(:action => 'update_past_experience', :id => @student.id) do %>
  <div class="past_experience">
      <dl class="exp_form"> 
      </dl>
  </div>
  <div id="update_div">
    <button class="update_exp_button">Update</button>
  </div>
  <% end %>

  <div id="cancel_div">
    <button class="cancelbutton">Cancel</button>
  </div>
  <div class="pull-right button-group">
    <%= link_to 'Edit profile', edit_student_profile_path(@student), name: "edit-profile-button", class: "button blue" -%>
  </div> 
<%end%>



<script>
  var is_added = false;
  document.getElementById('cancel_div').style.visibility='hidden';
  document.getElementById('update_div').style.visibility='hidden';
  $(".addbutton").click(function(){
      // $(".past_experience").html('experience_form.html.erb');
      //$("form").clone().appendTo('.past_experience');
      if(is_added == false){
          $( ".past_experience" ).append('<h3> Add experience </h3>' +
      '<dl class="exp_form">' + 
     '<dt>Company </dt>' +
     '<dd><%= text_field_tag :company_name, params[:company_name],placeholder: "Company Name" %></dd>' +
     '<dt>Description </dt>' +
     '<dd><%= text_field_tag :description, params[:description], placeholder: "Description" %></dd>' +
     '<dt>Location </dt>' +
     '<dd><%= text_field_tag :location, params[:location], placeholder: "Location" %></dd>' +
     '<dt>Job Title </dt>' +
     '<dd><%= text_field_tag :job, params[:job], placeholder: "Job Title" %></dd>' +
     '<dt>Salary </dt>' +
     '<dd><%= text_field_tag :salary, params[:salary],placeholder: "Salary" %></dd>' +
     '</dl>');
          is_added = true;
          document.getElementById('cancel_div').style.visibility='visible';
          document.getElementById('update_div').style.visibility='visible';
      }
  });

  $(".cancelbutton").click(function(){
    if (is_added == true){
      is_added = false;
      $(".exp_form").remove();  
      document.getElementById('cancel_div').style.visibility='hidden';
      document.getElementById('update_div').style.visibility='hidden';

    }
  });
</script>
