<h1> Student Profile </h1>
<%= link_to('Edit profile', edit_student_profile_path(@student)) -%>
<table class = "table">
  <tbody>
    <tr>
      <th> Name </th>
      <% if @student.first_name and @student.last_name %>
        <td><%= @student.first_name + ' ' + @student.last_name -%></td>
      <% end %>
    </tr>
    <tr>
      <th> University </th>
      <% if @student.college %>
        <td><%= link_to @student.college.school_name, single_school_profile_path(@student.college) -%></td>
      <% end %>
    </tr>
    <tr>
      <th> Major </th>
      <% if @student.major %>
        <td><%= @student.major.name -%></td>
      <% end %>
    </tr>
    <tr>
      <th> Graduation Date </th>
      <% if @student.graduation_date %>
        <td><%= @student.graduation_date -%></td>
      <% end %>
    </tr>
    <tr>
      <th> Resume Link </th>
      <% if @student.resume_link %>
        <td><%= link_to(@student.resume_link, @student.resume_link) -%></td>
      <% end %>
    </tr>
  </tbody>
</table>
