<h1> Student Profile </h1>
<script type="text/javascript">
  $(document).ready(function() {
    $('a[name="edit-profile-button"]').click(function() {
      $('.spinner-model').show();
    });
  });
</script>
<dl class="dl-horizontal">
  <dt> First Name </dt>
    <% if @student.first_name %>
      <dd><%= @student.first_name %></dd>
    <% end %>
  <dt>Last Name</dt>
    <% if @student.last_name %>
      <dd><%= @student.last_name -%></dd>
    <% end %>

  <dt> Skills </dt>
  <dd>
  <% student_skills = @student.skills %>
  <% if student_skills  %>
    <% student_skills.each do |skill| %>
      <span class="skill-tag"><%= skill.name %></span>
    <% end %>
  <% end %>
  </dd>

  <dt> City </dt>
  <dd>
    <% if @student.city %>
      <%= @student.city -%>
    <% end %>
  </dd>

  <dt> State </dt>
  <dd>
    <% if @student.state %>
      <%= @student.state -%>
    <% end %>
  </dd>

  <dt> Country </dt>
  <dd>
    <% if @student.country %>
      <%= @student.country -%>
    <% end %>
  </dd>

  <dt> University </dt>
  <dd>
    <% if @student.college %>
      <%= link_to @student.college.school_name, single_school_profile_path(@student.college) -%>
    <% end %>
  </dd>

  <dt> Major </dt>
  <dd>
    <% if @student.major %>
      <%= @student.major.name -%>
    <% end %>
  </dd>

  <dt> Graduation Date </dt>
  <dd>
    <% if @student.graduation_date %>
      <%= @student.graduation_date -%>
    <% end %>
  </dd>

  <dt> Resume Link </dt>
  <dd>
    <% if @student.resume_link %>
      <%= link_to(@student.resume_link, @student.resume_link) -%>
    <% end %>
  </dd>

  <dt> Company </dt>
  <dd>
    <% if @student.company %>
      <%= @student.company.name -%>
    <% end %>
  </dd>

  <dt> Salary </dt>
  <dd>
    <% if@student.base_salary %>
      <%= @student.base_salary-%>
    <% end %>
  </dd>

  <dt> Years Experience </dt>
  <dd>
    <% if@student.years_experience %>
      <%= @student.years_experience-%>
    <% end %>
  </dd>

  <dt> Title </dt>
  <dd>
    <% if@student.title %>
      <%= @student.title-%>
    <% end %>
  </dd>
  <% if @current_user.account_type == 2 %>
    <dt> Staff Notes </dt>
    <dd>
      <% if @student.notes %>
        <%= @student.notes-%>
      <% end %>
    </dd>
  <% end %>

</dl>
<%if (@current_user.account_type == 2 || (@current_user.account_type == 1 and roll_id.to_i == @id_1.to_i))  %>
<div class="pull-right button-group">
  <%= link_to "Edit profile", edit_student_profile_path(@student), name: "edit-profile-button", class: "button blue" -%>
</div>
<%end%>
