<h1> Schedule Interview </h1>
<h3> <%= "#{@application.job.company.name}: #{@application.job.title}" %> </h3>
<table class = "table">
  <thead>
    <tr>
      <th> Interview Date </th>
      <th> Starting Time </th>
      <th> Ending Time </th>
      <th></th>
    </tr>
  </thead>
  <tbody>
      <% for a in @interviews -%>
          <tr>
            <td><%= a.day -%></td>
            <td><%= ((9*60+40+a.time_slot*20)/60).to_s+':'+((9*60+40+a.time_slot*20)%60).to_s -%></td>
            <td><%= ((9*60+40+(a.time_slot+1)*20)/60).to_s+':'+((9*60+40+(a.time_slot+1)*20)%60).to_s -%></td>
            <td>
              <% if a.student == nil -%>
                <%= link_to "Book", interview_student_book_path(a) -%>
              <% elsif a.student == @student -%>
                <%= link_to "Cancel", interview_student_cancel_path(a) -%>
              <% else -%>
                Not available
              <% end -%>
            </td>
          </tr>
        <% end %>
        </tr>
  </tbody>
</table>
<% if @interviews.nil? or @interviews.length == 0 %>
  <center><b>You do not have any current interview offers for this application. </b></center>
<% end %>

<div class="pull-right button-group">
  <%= link_to "Back", student_view_applications_path(roll_id), class: "button default" %>
</div>
