<h1> My Interviews </h1>
<table class = "table">
  <thead>
    <tr>
      <th> Company Name </th>
      <th> Interview Date </th>
      <th> Starting Time </th>
      <th> Ending Time </th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% for a in @interviews -%>
      <tr>
        <td><%= a.company.name -%></td>
        <td><%= a.day -%></td>
        <td><%= ((9*60+40+a.time_slot*20)/60).to_s+':'+((9*60+40+a.time_slot*20)%60).to_s -%></td>
        <td><%= ((9*60+40+(a.time_slot+1)*20)/60).to_s+':'+((9*60+40+(a.time_slot+1)*20)%60).to_s -%></td>
        <td><%= link_to "Cancel", interview_student_cancel_path(a) -%></td>
      </tr>
    <% end -%>
  </tbody>
</table>
<% if @interviews.length == 0 -%>
  <center><b>You currently do not have any scheduled interviews.</b></center>
<% end -%>
<div class="pull-right button-group">
  <%= link_to "Back", student_view_applications_path(roll_id), class: "button default" %>
</div>
