<h2> Details about <%= @job.title %> </h2>

<ul>
	<li> 
		<b>Company:</b><%= @job.company.name %>
	</li>
	<li> 
		<b>Salary:</b><%= @job.salary + " $" %>
	</li>
	<li>
 		<b> Description:</b><%= @job.description %>
	</li>
</ul>

<% if @current_user.account_type == 3 %>
	<%= button_to 'Delete the Job', job_path(@job), :method => :delete %>
<% end %>
<br>

<button type="button" onclick="alert('This feature has yet beeen implemented')">Apply</button>
<%= link_to "Back to the Job list", job_list_path %>
