Welcome to CareerNet
<p></p>
<head>
<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
}
</style>
</head>


<table border = "1" style="width: 700px";>
  <tr>
  	<th> Job </th>
  	<th> Company </th>
  	<th> Description </th>
  	<th> Salary </th>
  	<th> Created </th>
  	<th> Added </th>
  </tr>
  <% @jobs.each do |job| %>
	  <tr>
	    <td><div class="job_title"><%= job.title %><div></td>
	    <td><div class="company"><%= job.company %><div></td>
	    <td><div class="desc"><%= job.description %></div></td>
	    <td><div class="salary"><%= job.salary %><div></td>
	    <td><div class="date"><%= job.created_at %><div></td>
	    <td><div class="date"><%= job.updated_at %><div></td>
	  </tr>
	  <% end %>
</table>
<%= will_paginate @jobs %>
