<table class="job_list" border = "1" style="width: 700px";>   
  <tr>
  	<th> <%=link_to 'Job', job_list_path(:sort => 'title', :page => params[:page])%> </th>
  	<th> Company </th>
  	<th> Description </th>
  	<th> <%=link_to 'Salary', job_list_path(:sort => 'salary', :page => params[:page])%> </th>
  	<th> Created </th>
  	<th> Added </th>
  </tr>
  <% @jobs.each do |job| %>
	  <tr>
	   <% if !job.company.nil? %>
	    <td><div class="job_title"><%=link_to "#{job.title}", apply_job_path(job.id) %><div></td>
	    <td><div class="company"><%= job.company.name %><div></td>
	    <td><div id ="descbox" class="desc"><%= job.description %></div></td>
	    <td><div class="salary"><%= job.salary %><div></td>
	    <td><div class="date"><%= job.created_at %><div></td>
	    <td><div class="date"><%= job.updated_at %><div></td>
	    <% end %>
	  </tr>
	  <% end %>
    <script src="http://dotdotdot.frebsite.nl/js/jquery.dotdotdot-1.2.1.js" ></script>
    <script type="text/javascript">
     $(".desc").dotdotdot()
    </script>
</table>
<%= will_paginate @jobs %>
