<h1>Create A New Job</h1>

<%= form_tag job_list_path do %>
  <h3> Enter your Job's Title </h3>
  <%= text_field_tag :title, params[:title],placeholder: 'Title' %>
  <br>
  <h3> Enter your Job's Description </h3>
  <%= text_field_tag :description, params[:description], placeholder: 'Description' %>
  <br>
  <h3> Enter your Job's salary </h3>
  <%= text_field_tag :salary, params[:salary],placeholder: 'Salary' %>
  <br>
  <h3> Enter your Companies' ID </h3>
  <%= text_field_tag :company_id, params[:company_id],placeholder: 'Company' %>
  <br>
  
   <h3> Click the button if you filled everything </h3>
  <%= submit_tag "Post", class: "btn pull-left" %>
  <br>

<% end %>