<h1>Create A New Job</h1>

<%= form_tag job_list_path do %>
  <dl class="dl-horizontal"> 
    <dt>Title </dt>
    <dd><%= text_field_tag :title, params[:title],placeholder: 'Title' %></dd>
    <dt>Description </dt>
    <dd><%= text_field_tag :description, params[:description], placeholder: 'Description' %></dd>
    <dt>salary </dt>
    <dd><%= text_field_tag :salary, params[:salary],placeholder: 'Salary' %></dd>
    <%= submit_tag "Post", class: "button blue pull-right"%>
  </dl>
<% end %>