<h1> <%= @job.title %> </h1>

<dl class="dl-horizontal"> 
		<dt>Company</dt>
		<dd><%= @job.company.name %></dd>
		<% if !is_student? %>
			<dt>Salary</dt>
			<dd><%= "$" + @job.salary%></dd>
		<% end %>
 		<dt> Description</dt>
 		<dd><%= @job.description.html_safe %></dd>
</dl>

<div class="pull-right button-group">
   <%if is_staff? or (is_company? and @job.company.id == @company.id) %>
	<%= link_to "Delete", delete_job_path(@job), :method => :delete, class: "button red" %>
   <%end%>
   <%if is_student? %>
	<%= link_to "Apply", apply_job_path(:job_id => params[:job_id]), :method => :post, class: "button green" %>
   <%end%>
	<%= link_to "Back", job_list_path, class: "button default" %>
</div>

<div class="section-break"></div>

<%if !is_student? %>
<h1> Job Applications </h1>
<table class="data-table table table-striped">
	<thead>
	  <tr>
	  	<th> Applicant Name </th>
	  	<th> Applied Position </th>
	  	<th> Applied Date </th>
	  </tr>
  </thead>
  <tbody>
	  <% @job.applications.each do |application| %>
		  <tr>
		    <td><%=link_to "#{application.student.first_name} #{application.student.last_name}", single_student_profile_path(application.student_id) %></td>
		    <td><%= @job.title %></td>
		    <td><%= application.created_at.strftime('%D') %></td>
		  </tr>
		<% end %>
	</tbody>
</table>
<%end%>
<script type="text/javascript">
  $(document).ready(function() {
    $('.data-table').dataTable({
      "pageLength": 25,
      "lengthMenu": [ 25, 50, 100 ]
    });
  })
</script>