<div class="col-md-7">
	<h1 data-template="<%= @template_name.downcase %>"><%= "Smart Data Report - #{@template_name}" %></h1>
	<%= render 'options' %>
</div>

<%= render 'available_reports' %>

<div id="pieChart"></div>
<h1>Detailed View</h1>
<div class="general-stats-table-container">
</div>
<%= javascript_include_tag 'visualizations.js' %>
<%= javascript_include_tag 'd3pie.min.js' %>