<table class="event_list" border = "1" style="width: 700px";>
  <tr>
    <th> Title </th>
    <th> Time Start </th>
    <th> Time End </th>
  </tr>
  <% @events.each do |event| %>
    <% if !event.title.nil? %>
      <tr>
        <td><div class="event_title"><%= link_to event.title, event_path(event) %></div></td>
        <td><div class="time_start"><%= event.time_start %></div></td>
        <td><div class="time_end"><%= event.time_end %></div></td>
      </tr>
      <% end %>
  <% end %>
  <br>
  <script src="http://dotdotdot.frebsite.nl/js/jquery.dotdotdot-1.2.1.js" ></script>
  <script type=text/javascript">
    $(".desc").dotdotdot()
  </script>
</table>
<%= will_paginate @events %>
<div class="add-event">
  <%= link_to 'Add an event', new_event_path %>
</div>
