<h2>Create New Event</h2>

<%= form_tag events_path do %>
 	<dl class="dl-horizontal">
 		<dt>Title</dt>
  	<dd><%= text_field_tag :title, params[:title] %></dd>
  	<dt>Description</dt>
  	<dd><%= text_field_tag :description, params[:description] %></dd>
  	<dt>Location</dt>
  	<dd><%= text_field_tag :location, params[:location] %></dd>
  </dl>
  <%= submit_tag "Create", class: "button pull-right blue" %>
<% end %>
