<!DOCTYPE html>
<html>
<head>
  <title>CareerNet</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='//fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
  <link href='//fonts.googleapis.com/css?family=Lato:700' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="spinner-model">
  <div class="spinner-overlay">
    <div class="loading-text">
      Please wait while the website is loading.
    </div>
  </div>
  <div class="spinner-container">
    <div class="spinner">
      <div class="bounce1"></div>
      <div class="bounce2"></div>
      <div class="bounce3"></div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function() {
    $('.spinner-model').hide();
  });
</script>
<div class="flash-message">
	<% if !flash[:notice].blank? %>
		<div class="notice alert alert-success">
		  <%= flash[:notice] %>
		</div>
	<% elsif !flash[:error].blank? %>
		<div class="error alert alert-danger">
			<%= flash[:error] %>
		</div>
	<% end %>
</div>

<% if logged_in? %>
  <nav class="main-menu">
    <div class="logo">
      CareerNet
    </div>
    <ul>
      <li>                                   
        <i class="fa fa-home fa-lg"></i>
        <a href="/dashboard" class="nav-text">Dashboard</a>
      </li>
      <li>                                 
        <i class="fa fa-briefcase"></i>
        <a href="/jobs" class="nav-text">Browse Jobs</a>
      </li>
      <li>                                 
        <i class="fa fa-map-marker"></i>
        <a href="/events" class="nav-text">Browse Events</a>
      </li>
      <li>                                 
        <i class="fa fa-calendar"></i>
        <a href="/calendar" class="nav-text">My Calendar</a>
      </li>
      <% if logged_in? %>
        <% if current_user.student %>
          <li>
            <i class="fa fa-user"></i>
            <%= link_to 'My Profile', single_student_profile_path(current_user.student.id), name: "my-profile-button", class: "nav-text" %></a>
          </li>
        <% elsif current_user.company %>
          <li>
            <i class="fa fa-user"></i>
            <%= link_to 'My Profile', company_profile_path(current_user.company.id), name: "my-profile-button", class: "nav-text" %></a>
          </li>
        <% elsif current_user.staff%>
          <li>
            <i class="fa fa-pie-chart"></i>
            <%= link_to 'Smart Report', smart_report_path, name: "my-profile-button", class: "nav-text" %></a>
          </li>
          <li>
            <i class="fa fa-user"></i>
            <%= link_to 'My Profile', staff_profile_path(current_user.staff.id), name: "my-profile-button", class: "nav-text" %></a>
          </li>
        <%end%>
      <%end%>
      <li>
        <i class="fa fa-hand-o-left"></i>
        <a href="/account/logout" class="nav-text">Logout</a>
      </li>
    <% end %>
  </ul>
</nav>

<% if logged_in? and (is_staff? or delegation_on?) %>

  <!-- Allow staff to sign in as a student or a company -->
  
    
      <% if delegation_on? %>
        <div class="sign-in-as warning">
          <ul>
            <li class="sign-in-as-warning">CAUTION: YOU ARE CURRENTLY SIGNED IN AS <strong><%= current_user.name %></strong></li>
            <li class="switch-back"><%= link_to 'Switch Back', cancel_delegation_path %></li>
          </ul>
        </div>
      <% else %>
        <div class="sign-in-as normal">
          <ul>
            <li class="sign-in-as-option"><%= link_to 'Sign in as a student', profiles_students_path %></li>
            <li class="sign-in-as-option"><%= link_to 'Sign in as a company', profiles_companies_path %></li>
          </ul>
        </div>
      <% end %>
      <script type="text/javascript">
        $(document).ready(function() {
          $('.sign-in-as-option').click(function() {
            $('.spinner-model').show();
          });
        });
      </script>
  </div>

<% end %>

<div class="container">
  <%= yield %>
</div>

</body>
</html>
