<h1 class="small-form">Log In</h1>
<%= form_tag({:action => 'login'}, :class => "small-form") do %>
  <dl class="dl-horizontal">
	  <dt>Email</dt>
	  <dd><%= text_field_tag :email, params[:email] %></dd>
	  <dt>Password</dt>
	  <dd><%= password_field_tag :password, params[:password] %></dd>
	  <%= submit_tag "Log In", class: "button pull-right blue" %>
  </dl>
<% end %>
<div class="login-another">
	<div>Don't have an account? <%= link_to 'Sign up here.', account_signup_path %></div>
	<div>Forgot password? <%= link_to 'Recover your password here.', account_forgot_password_path %></div>
</div>