<div class="no-nav-offset">
	<h1 class="small-form">Sign Up</h1>
	<%= form_for @new_account, :html => {:class => "small-form"}, url: account_confirm_signup_path do %>
		<dl class="dl-horizontal">
			<dt>Username</dt>
			<dd><%= text_field_tag :username, params[:username] %></dd>
			<dt>Email</dt>
			<dd><%= text_field_tag :email, params[:email] %></dd>
			<dt>Sign Up As</dt>
			<dd>
				<%= select_tag :account_type, options_for_select(
					[
						["Student", 1], 
						["Staff", 2],
						["Company", 3],
					], 1), :style => "margin-left: 0px !important" %>
			</dd>
			<dt>Password</dt>
			<dd><%= password_field_tag :password, params[:password] %></dd>
    	<%= submit_tag "Sign Up", class: "button pull-right blue" %>
  	</dl>
	<% end %>
<div class="no-nav-offset">